#root {
  width: 100%;
  /* max-width: 780px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}

body{
  background-color: #1F1D2B;
  color:#F0F0F0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
